<h1 mat-dialog-title>Nuevo tema</h1>
<div mat-dialog-content>
  <mat-form-field appearance="outline">
    <mat-label>Título</mat-label>
    <input matInput id="title" [(ngModel)]="question.title" />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Descripción</mat-label>
    <textarea
      matInput
      id="description"
      [(ngModel)]="question.description"
      rows="5"
    ></textarea>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Tu nombre (opcional)</mat-label>
    <input matInput id="name" [(ngModel)]="question.name" />
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button id="cancel-button" (click)="onNoClick()" mat-button color="primary">
    Cancelar
  </button>
  <button id="create-button" (click)="create()" mat-flat-button color="primary">
    Crear
  </button>
</div>
