<div id="damon-killer">
  <div id="damon-killer-container">
    <div class="wrapper">
      <div class="grid">
        <div class="container">
          <h2 class="killer">killer</h2>
          <h2 class="demon">DEMON</h2>
        </div>
      </div>
      <input class="input-demon input-demon1" type="radio" id="demon1" />
      <input class="input-demon input-demon2" type="radio" id="demon2" />
      <input class="input-demon input-demon3" type="radio" id="demon3" />
      <input class="input-demon input-demon4" type="radio" id="demon4" />
      <input class="input-demon input-demon5" type="radio" id="demon5" />
      <input class="input-demon input-demon6" type="radio" id="demon6" />
      <input class="input-demon input-demon7" type="radio" id="demon7" />
      <input class="input-demon input-demon8" type="radio" id="demon8" />
      <label for="demon1" class="minion minion1"><span></span></label>
      <label for="demon2" class="minion minion2"><span></span></label>
      <label for="demon3" class="minion minion3"><span></span></label>
      <label for="demon4" class="minion minion4"><span></span></label>
      <label for="demon5" class="minion minion5"><span></span></label>
      <label for="demon6" class="minion minion6"><span></span></label>
      <label for="demon7" class="minion minion7"><span></span></label>
      <label for="demon8" class="minion minion8"><span></span></label>
      <div class="sum">Minions Destroyed:</div>
    </div>
  </div>
</div>
