<h1>Configuración</h1>
<div class="two-columns bg-white" *ngIf="model">
  <mat-form-field color="accent" appearance="outline">
    <mat-label>Patio</mat-label>
    <input matInput id="patio" [(ngModel)]="model.patio" />
  </mat-form-field>

  <mat-form-field color="accent" appearance="outline">
    <mat-label>Cafeteria</mat-label>
    <input matInput id="cafeteria" [(ngModel)]="model.cafeteria" />
  </mat-form-field>

  <mat-form-field color="accent" appearance="outline">
    <mat-label>Sala de Reuniones</mat-label>
    <input
      matInput
      id="sala-de-reuniones"
      [(ngModel)]="model.salaDeReuniones"
    />
  </mat-form-field>

  <mat-form-field color="accent" appearance="outline">
    <mat-label>Piso de abajo</mat-label>
    <input matInput id="piso-de-abajo" [(ngModel)]="model.pisoDeAbajo" />
  </mat-form-field>

  <mat-form-field color="accent" appearance="outline">
    <mat-label>Cocina</mat-label>
    <input matInput id="cocina" [(ngModel)]="model.cocina" />
  </mat-form-field>

  <mat-form-field color="accent" appearance="outline">
    <mat-label>Piso de arriba</mat-label>
    <input matInput id="piso-de-arriba" [(ngModel)]="model.pisoDeArriba" />
  </mat-form-field>
</div>
<div class="center-items">
  <button id="create-button" (click)="save()" mat-flat-button color="primary">
    Guardar
  </button>
</div>
