<div class="retro-column more-of">
  <h1>Algo bueno / Más de...</h1>
  <mat-form-field class="example-form-field" appearance="fill">
    <mat-label>Escribe tu opinión</mat-label>
    <input matInput type="text" [(ngModel)]="morOfInputValue" />
    <button
      *ngIf="morOfInputValue"
      matSuffix
      mat-icon-button
      aria-label="Clear"
      (click)="morOfInputValue = ''"
    >
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
</div>
<div class="retro-column keep">
  <h1>Algo ni muy muy ni tantan / Mantengamos...</h1>
  <mat-form-field class="example-form-field" appearance="fill">
    <mat-label>Escribe tu opinión</mat-label>
    <input matInput type="text" [(ngModel)]="keepInputValue" />
    <button
      *ngIf="keepInputValue"
      matSuffix
      mat-icon-button
      aria-label="Clear"
      (click)="keepInputValue = ''"
    >
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
</div>
<div class="retro-column less-of">
  <h1>Algo malo / Menos de...</h1>
  <mat-form-field class="example-form-field" appearance="fill">
    <mat-label>Escribe tu opinión</mat-label>
    <input matInput type="text" [(ngModel)]="lessOfInputValue" />
    <button
      *ngIf="lessOfInputValue"
      matSuffix
      mat-icon-button
      aria-label="Clear"
      (click)="lessOfInputValue = ''"
    >
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
</div>
