<header id="header">
  <div class="navbar">
    <div class="navbar-left">
      <a href="/" class="navbar-item logo">
        <img src="./assets/companyLogo.svg" alt="company logo" />
        <h1 class="maintitle">Weekly Tool</h1>
      </a>
    </div>

    <div class="nav-bar-center">
      <span
        class="tagline navbar-item"
        *ngIf="wordOfTheDay$ | async as wordOfTheDay"
      >
        Palabra del día:
        <a
        id="word-of-the-day"  
        href="{{ wordDefinitionURL + wordOfTheDay?.body?.Word }}"
          target="_blank"
          rel="noopener noreferrer"
        >
          {{ wordOfTheDay?.body?.Word }}</a
        >
      </span>
    </div>

    <div class="navbar-right center-items2">
      <ul class="navbar-nav">
        <li>
          <a href="/" mat-menu-item> Inicio </a>
        </li>
        <li>
          <a
            href="/breakout/{{ room }}"
            *ngIf="room$ | async as room"
            mat-menu-item
          >
            Breakout
          </a>
        </li>
        <li>
          <a
            href="/settings/{{ room }}"
            *ngIf="room$ | async as room"
            mat-menu-item
          >
            Configuración
          </a>
        </li>
        <li>
          <a
            href="/retro/{{ room }}"
            *ngIf="room$ | async as room"
            mat-menu-item
          >
            Retrospective
          </a>
        </li>
        <li>
          <a mat-menu-item (click)="addPinnedTopic()"> Temas Fijos </a>
        </li>
      </ul>
      <button
        mat-icon-button
        class="margin-zero"
        [matMenuTriggerFor]="globalMenu"
        aria-label="dropdown menu"
      >
        <mat-icon>settings</mat-icon>
      </button>

      <mat-menu #globalMenu="matMenu" xPosition="before" [hasBackdrop]="false">
        <div mat-menu-item>
          <mat-checkbox [(ngModel)]="sections.aniversary"
            >Anivesarios</mat-checkbox
          >
        </div>
        <div mat-menu-item>
          <mat-checkbox [(ngModel)]="sections.quiestionLists"
            >Temas a conversar</mat-checkbox
          >
        </div>
        <div mat-menu-item>
          <mat-checkbox [(ngModel)]="sections.currentQuestion"
            >Tiempo de conversación
          </mat-checkbox>
        </div>
      </mat-menu>
    </div>
  </div>
</header>

<section class="main-container">
  <router-outlet></router-outlet>
</section>

<footer id="main-footer">
  <p>
    <app-version></app-version> - Desarrollado por
    <a href="https://github.com/AlexScigalszky" target="_blank" rel="noopener">
      Alex P. Scigalszky
    </a>
    -
    <a
      href="https://github.com/AlexScigalszky/weekly-tool"
      target="_blank"
      rel="noopener"
    >
      Documentación y aportes
    </a>
  </p>
</footer>
