<header id="header">
  <img
    src="./assets/logotransparencia.svg"
    alt="company icon"
    class="logo to_left"
  />
  <h1>
    Weekly Tool
    <div style="float: right" class="center-items">
      <button
        mat-icon-button
        class="margin-zero"
        [matMenuTriggerFor]="globalMenu"
        aria-label="dropdown menu"
      >
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #globalMenu="matMenu" xPosition="before">
        <a
          href="/"
          mat-menu-item
        >
          Inicio
        </a>
        <!-- <button (click)="newRoom()" mat-menu-item>
          Nueva Sala
        </button> -->
        <a
          href="/breakout"
          mat-menu-item
        >
          Breakout
        </a>
      </mat-menu>
    </div>
  </h1>
  <h2>Herramienta para encuestas</h2>
</header>
<section class="main-container">
  <router-outlet></router-outlet>
</section>
<footer>
  <app-version></app-version> - Desarrollado por
  <a href="https://github.com/AlexScigalszky" target="_blank" rel="noopener">
    Alex P. Scigalszky.
  </a>

  Tu granito de arena
  <a
    href="https://github.com/AlexScigalszky/qa/issues/new"
    target="_blank"
    rel="noopener"
  >
    aquí.
  </a>

  Discutamos
  <a
    href="https://github.com/AlexScigalszky/qa/discussions/new"
    target="_blank"
  >
    Aquí
  </a>
</footer>
