@import "~@angular/material/theming";
.mat-list-item {
  cursor: pointer;
  &:hover {
    background-color: mat-color($mat-light-theme-background, hover, 0.05);
  }
  &.question-voted {
    background-color: mat-color($mat-light-theme-background, hover, 0.05);
  }
  button {
    margin-left: 10px;
  }
  h3 {
    @media (max-width: 959px) {
      max-width: 160px;
    }
  }
}


/* SCSS */
.mat-list-item.mat-list-item-word-wrap {
  height: initial !important;
  .mat-line {
    word-wrap: break-word !important;
    white-space: pre-wrap !important;
  }
}
