@import '~@angular/material/theming';

.question-item {
  padding: 1rem;
  position: relative;

  &:hover {
    background-color: mat-color($mat-light-theme-background, hover, 0.05);
  }
  &.question-voted {
    background-color: mat-color($mat-light-theme-background, hover, 0.05);
    button {
      background-color: #ff4081;
      color: #fff;
    }
  }
  .more-button {
    position: absolute;
    top: 1rem;
    right: 0.5rem;
  }
  // Grid
  .grid {
    display: grid;
    column-gap: 1rem;
  }
  .grid-item {
    grid-template-columns: 1fr 7fr;
  }
  .vote-column {
    text-align: center;
    .vote-list {
      margin-bottom: 0.5rem;
      .vote-number {
        display: block;
        font-size: 3rem;
        line-height: 1em;
      }
    }
  }
  .topic-column {
    .question-title,
    .question-name,
    .question-description {
      margin: 0;
    }
    .question-title {
      font-weight: 500;
    }
    .question-name {
      margin-bottom: 0.5rem;
      font-style: italic;
    }
  }
}
