<mat-list-item
  *ngIf="question"
  [class.question-voted]="highlight"
  (click)="vote()"
>
  <h3 matLine class="question-title">{{ question.title }}</h3>
  <div matLine *ngIf="question.name"  class="question-name">
    {{ question.name }}
  </div>
  <div matLine class="question-description">
    {{ question.description }}
  </div>
  <div class="question-votes">{{ question.votes }} votos</div>
  <button mat-stroked-button [color]="highlight ? 'accent' : 'primary'">
    Votar
  </button>
</mat-list-item>
