<div *ngIf="question" [class.question-voted]="highlight" class="question-item">
  <div class="question-title">
    <div>
      <h3>
        {{ question.title }}
      </h3>
      <div *ngIf="question.name" class="question-name">
        {{ question.name }}
      </div>
    </div>
    <div>
      <button
        class="vote-button"
        mat-stroked-button
        [color]="highlight ? 'accent' : 'primary'"
        (click)="vote()"
      >
        Votar
      </button>
      {{ question.votes }} votos
      <button
        mat-icon-button
        class="margin-zero more-button"
        [matMenuTriggerFor]="menu2"
        aria-label="dropdown menu"
      >
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu2="matMenu" xPosition="before">
        <button class="edit-button" mat-menu-item (click)="edit()">
          Editar
        </button>
      </mat-menu>
    </div>
  </div>

  <div class="question-description">
    <div [innerHTML]="question.description"></div>
  </div>
  <div class="card-footer"></div>
</div>
