@import '~@angular/material/theming';
.mat-list-item {
  cursor: pointer;
  &:hover {
    background-color: mat-color($mat-light-theme-background, hover, 0.05);
  }
  &.question-voted {
    background-color: mat-color($mat-light-theme-background, hover, 0.05);
    button {
      background-color: #ff4081;
      color: #fff;
    }
  }
  .question-name, .question-description {
    @media (max-width: 959px) {
      max-width: 160px;
    }
  }
  .question-votes {
    min-width: 60px;
    padding-left: 16px;
    padding-right: 16px;
    text-align: right;
  }
}


/* SCSS */
.mat-list-item.mat-list-item-word-wrap {
  height: initial !important;
  .mat-line {
    word-wrap: break-word !important;
    white-space: pre-wrap !important;
  }
}
