#home-container {
  display: grid;
  gap: 1rem;
}
@media (min-width: 960px) {
  #home-container {
    grid-template-columns: repeat(2, calc(50% - 0.5rem));
  }
}

.main-card .mat-card-content {
  margin-left: -16px !important;
  margin-right: -16px !important;
}

#spinner {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 99999;
  color: #fff;
  background-color: darken(#5ecaec, 20%);
  h1 {
    font-size: 3rem;
  }
}