<div class="aniversary-section">
  <wt-aniversaries
    *ngIf="sections.aniversary"
    [aniversaries]="aniversaries$ | async"
  ></wt-aniversaries>
</div>
<div class="pinned-topic-section" *ngIf="pinned$ | async as data">
  <wt-pinned-topics [topics]="data"></wt-pinned-topics>
</div>

<div *ngIf="apiData$ | async as apiData; else spinner" id="home-container">
  <!-- First column -->
  <div id="topics-section" *ngIf="sections.quiestionLists">
    <mat-card tdMediaToggle="gt-xs">
      <h2>Temas a conversar</h2>
      <p>
        Escribí un idea junto con su descripción para conversarlo entre todos.
        Si querés podés agregar tu nombre. Al momento de votar, sólo podrás
        hacerlo en 3 items. Hasta el momento:
        <strong id="votes-counter">
          {{ apiData.totalVotes }}
        </strong>
        votos en total. De
        <strong id="users-votes-counter">
          {{ apiData.countUsers }}
        </strong>
        usuarios que votaron.
      </p>

      <button
        id="new-topic-button"
        (click)="openDialog()"
        mat-flat-button
        color="primary"
      >
        Nuevo tema
      </button>

      <button
        (click)="resetVotes(apiData.questions)"
        mat-stroked-button
        color="primary"
        id="reset-votes"
      >
        Limpiar votos
      </button>
    </mat-card>

    <mat-card tdMediaToggle="gt-xs" class="card-list">
      <mat-card-content>
        <wt-question-list
          *ngIf="questionsHighlight$ | async as questionsHighlight"
          [questions]="apiData.questions"
          [highlight]="questionsHighlight"
          (voted)="vote($event, questionsHighlight)"
          (editButtonClicked)="editQuestion($event)"
        ></wt-question-list>
      </mat-card-content>
    </mat-card>
  </div>

  <!-- Second column -->
  <div id="selected-topic-section" *ngIf="sections.currentQuestion">
    <mat-card>
      <mat-card-header>
        <mat-card-title> Tiempo de conversación </mat-card-title>
        <mat-card-subtitle> Seguí estos pasos </mat-card-subtitle>
      </mat-card-header>

      <mat-card-content>
        <p>1- Seleccioná un tema a conversar</p>
        <mat-form-field appearance="outline">
          <mat-label>Temas</mat-label>
          <mat-select [formControl]="currentQuestionControl">
            <mat-option value="-1"> - </mat-option>
            <mat-option
              *ngFor="let question of apiData.questions"
              [value]="question.id"
            >
              {{ question.title }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <div *ngIf="showStartButton$ | async">
          <p>
            2- Click en COMENZAR TIMER para poner en marcha la cuenta de tiempo
            (Manejamos slots de tiempos de 7 minutos)
          </p>
          <button mat-stroked-button (click)="startTimer()">
            COMENZAR TIMER
          </button>
        </div>
      </mat-card-content>
    </mat-card>

    <mat-card *ngIf="currentQuestion$ | async as currentQuestion">
      <mat-card-header>
        <mat-card-title>
          Tema elegido: {{ currentQuestion.title }}
        </mat-card-title>
        <mat-card-subtitle *ngIf="currentQuestion.name">
          Sugerido por <strong>{{ currentQuestion.name }}</strong>
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p [innerHTML]="currentQuestion.description"></p>
        <h3 *ngIf="timeStartTime">
          {{ minutes }} minutos y contando...
          {{ startTime | date: 'HH:mm:ss' }}
        </h3>
      </mat-card-content>
      <mat-card-actions>
        <wt-fullscreen-button [id]="'selected-topic'"></wt-fullscreen-button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>

<ng-template #spinner>
  <div id="spinner">
    <div>
      <h1>Cargando...</h1>
      <h2 class="simpson-quote">{{ simpsonQuote.quote }}</h2>
      <small>{{ simpsonQuote.author }}</small>
    </div>
  </div>
</ng-template>
