<div class="aniversary-section" *ngIf="aniversaries?.length">
  <!-- <h1 class="aniversary-title">
    <span class="aniversary-icon parpadea">🎉</span>
    ¡Tenemos un aniversario esta semana!
    <span class="aniversary-icon parpadea">🎊</span>
  </h1> -->
  <ul class="aniverary-partner-list">
    <li class="" *ngFor="let partner of aniversaries">
      <span class="aniversary-icon parpadea">🎉</span>
      <strong>{{ partner.name }}</strong> hace <strong>{{ years(partner) }}</strong> que está
      trabajando con nosotros
      <span class="aniversary-icon parpadea">🎊</span>
    </li>
  </ul>
</div>
