@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  font-family: 'Roboto', sans-serif;
  background-color: #5ecaec;
}
* {
  margin: 0;
  padding: 0;
}
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

img {
  width: 100%;
  height: auto;
}

.to-rigth {
  float: right;
}

header {
  margin-bottom: 2rem;
  background-color: darken(#5ecaec, 20%);
  color: #fff;
  img {
    margin-right: 1rem;
  }
}

mat-form-field {
  width: 100%;
}

mat-sidenav-container {
  background-color: transparent !important;
}

// Footer
#main-footer {
  padding: 1rem;
  background-color: darken(#5ecaec, 20%);
  color: rgb(255, 255, 255, 0.7);

  @media (min-width: 960px) {
    padding: 1.5rem 2rem;
  }

  a {
    color: rgb(255, 255, 255, 1);
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }

  p {
    margin-bottom: 0 !important;
  }
}

// Navbar
.navbar {
  display: flex;
  position: relative;
  .logo {
    font-size: 24px;
    color: #fff;
    text-decoration: none;
    img {
      width: 80px;
    }
  }
  .navbar-item,
  .navbar-nav > li > a,
  .navbar-toggle {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 0.25em;
    box-sizing: border-box;
    min-height: 80px;
    padding: 0 15px;
    font-size: 14px;
    font-family: ProximaNova, -apple-system, BlinkMacSystemFont, 'Segoe UI',
      Roboto, 'Helvetica Neue', Arial, sans-serif;
    text-decoration: none;
  }
  .navbar-nav > li > a {
    color: #fff;
    text-transform: uppercase;
    transition: 0.1s ease-in-out;
    transition-property: color, background-color;
  }

  .navbar-left,
  .navbar-right {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  .navbar-right {
    margin-left: auto;
  }
  .navbar-nav {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
  }
}

.maintitle {
  margin: 0 !important;
  font-size: 1.8rem !important;
  line-height: 0.9em !important;
  .tagline {
    display: block;
    font-size: 1rem;
  }
}

// Card
.card-list {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  .mat-card-content {
    margin-left: -16px !important;
    margin-right: -16px !important;
  }
}
.mat-list-base {
  padding-top: 0 !important;
}
mat-card {
  + mat-card {
    margin-top: 1rem;
  }
}

.mat-card-header-text {
  margin-left: 0 !important;
}

.to_left {
  float: left;
}

#selected-topic:-webkit-full-screen {
  background-color: #5ecaec;
  mat-card {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}

#selected-topic:-moz-full-screen {
  background-color: #5ecaec;
  mat-card {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}

#selected-topic:-ms-fullscreen {
  background-color: #5ecaec;
  mat-card {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}

#selected-topic:fullscreen {
  background-color: #5ecaec;
  mat-card {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}

// Editor
.NgxEditor__Content {
  min-height: 100px;
}

.center-items {
  display: flex;
  align-items: center;
  justify-content: center;
}
.link-disabled {
  pointer-events: none;
}

#word-of-the-day {
  background-color: white;
  border-radius: 8px;
  padding: 3px 8px;
  margin: 0.4rem;
}
