@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html {
  font-family: 'Roboto', sans-serif;
}

mat-form-field {
  width: 100%;
}
body {
  background-color: #5ecaec;
}

mat-sidenav-container {
  background-color: transparent !important;
}

mat-card {
  margin: 1rem;
}
