@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  font-family: 'Roboto', sans-serif;
  background-color: #5ecaec;
}

body {
  margin: 0;
  padding: 0;

  min-height: 100vh;

  display: flex;
  flex-direction: column;
}

img {
  width: 100%;
  height: auto;
}

.logo {
  width: 6rem;
}

.to-rigth {
  float: right;
}

header {
  margin-bottom: 2rem;
  padding: 2rem 1rem;
  @media (min-width: 960px) {
    padding: 2rem 2rem;
  }
  background-color: darken(#5ecaec, 20%);
  color: #fff;
  img {
    margin-right: 1rem;
  }
  h1 {
    font-size: 2.5rem !important;
  }
  h2 {
    margin-bottom: 0 !important;
  }
}
footer {
  margin-top: auto;
  padding: 1rem;
  @media (min-width: 960px) {
    padding: 1.5rem 2rem;
  }
  background-color: darken(#5ecaec, 20%);
  color: rgb(255, 255, 255, 0.7);
  a {
    color: rgb(255, 255, 255, 1);
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

mat-form-field {
  width: 100%;
}

mat-sidenav-container {
  background-color: transparent !important;
}

// Card
mat-card {
  + mat-card {
    margin-top: 1rem;
  }
}
.mat-list-base .mat-list-item .mat-list-item-content,
.mat-list-base .mat-list-option .mat-list-item-content {
  //padding: 0 !important;
}
.mat-card-header-text {
  margin-left: 0 !important;
}

.to_left {
  float: left;
}

#selected-topic:-webkit-full-screen {
  background-color: #5ecaec;
  mat-card {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}

#selected-topic:-moz-full-screen {
  background-color: #5ecaec;
  mat-card {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}

#selected-topic:-ms-fullscreen {
  background-color: #5ecaec;
  mat-card {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}

#selected-topic:fullscreen {
  background-color: #5ecaec;
  mat-card {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}

.center-items {
  display: flex;
  align-items: center;
  justify-content: center;
}
