<h1 mat-dialog-title>Nueva Sala</h1>
<div mat-dialog-content>
  <p>
    Recomendamos utilizar una fecha para identificar una sala, en formato
    YYYY-MM-DD.
  </p>
  <mat-form-field appearance="outline">
    <mat-label>Nombre</mat-label>
    <input matInput [(ngModel)]="title" />
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button (click)="onNoClick()" id="cancel-button" mat-button color="primary">Cancelar</button>
  <button (click)="create()" id="create-button" mat-flat-button color="primary">Crear</button>
</div>
