<div id="breakout-main" class="center-items">
  <div>
    <h1>Breakout</h1>

    <a
      id="breakout-link"
      *ngIf="urlRoom$ | async as urlRoom; else noLink"
      mat-raised-button
      color="accent"
      [href]="urlRoom.url"
      target="_blank"
    >
      <!-- Entrar a {{ urlRoom.name }} -->
      Entrar
    </a>

    <h3>¿Cómo funciona esto?</h3>
    <p>
      Tenemos {{ countRooms$ | async }} salas de Meet preparadas, el botón de
      arriba te va a llevar a una de esas al azar.
      <br />
      IMPORTANTE: No nos olvidemos de controlar el tiempo y volvamos al meet
      plenario
      <br />
      <small>Esto es mejor que zoom</small>
    </p>
  </div>
</div>

<ng-template #noLink>
  <a
    id="breakout-link"
    mat-raised-button
    color="accent"
    class="link-disabled"
    href="#"
  >
    {{ message }}
  </a>
</ng-template>
