:root{
    font-size: 32px;
}
* {
  color: #ffffff;
  text-align: center;
}
h1 {
  font-size: 4rem;
  margin: 1rem !important;
}

h2 {
  font-size: 3rem;
  margin: 1rem !important;
}
h3 {
  font-size: 3rem;
  margin: 1rem !important;
}
p {
  font-size: 1.5rem;
  margin: 4rem !important;
}
small {
  font-size: 0.8rem;
}
#breakout-link {
  font-size: 2rem;
  line-height: 5rem;
  margin: 5rem;
}